<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444



  This is the default "404: Not Found" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/404.js`

  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->
<style>
    body, html {
        background: linear-gradient(to bottom, #0F95DF, #0B76BA);
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container {
        width: 500px;
        height: 500px;
        position: absolute;
        margin-top: 10%;
        margin-left: calc(50% - 250px);
    }

    .bg-circle:nth-child(2) {
        width: 333.33333px;
        height: 333.33333px;
        background: white;
        opacity: 0.05;
        position: absolute;
        border-radius: 50%;
        margin-left: calc(50% - 166.66667px);
        margin-top: calc(50% - 166.66667px);
        animation: bg-an-2 1.8s ease-in infinite;
        animation-delay: 0.1s;
    }

    @keyframes bg-an-2 {
        0% {
            width: 333.33333px;
            height: 333.33333px;
            margin-left: calc(50% - 166.66667px);
            margin-top: calc(50% - 166.66667px);
        }
        78% {
            width: 0px;
            height: 0px;
            margin-left: calc(50%);
            margin-top: calc(50%);
        }
        100% {
            width: 333.33333px;
            height: 333.33333px;
            margin-left: calc(50% - 166.66667px);
            margin-top: calc(50% - 166.66667px);
        }
    }

    .bg-circle:nth-child(3) {
        width: 400px;
        height: 400px;
        background: white;
        opacity: 0.075;
        position: absolute;
        border-radius: 50%;
        margin-left: calc(50% - 200px);
        margin-top: calc(50% - 200px);
        animation: bg-an-3 1.8s ease-in infinite;
        animation-delay: 0.15s;
    }

    @keyframes bg-an-3 {
        0% {
            width: 400px;
            height: 400px;
            margin-left: calc(50% - 200px);
            margin-top: calc(50% - 200px);
        }
        87% {
            width: 0px;
            height: 0px;
            margin-left: calc(50%);
            margin-top: calc(50%);
        }
        100% {
            width: 400px;
            height: 400px;
            margin-left: calc(50% - 200px);
            margin-top: calc(50% - 200px);
        }
    }

    .bg-circle:nth-child(4) {
        width: 466.66667px;
        height: 466.66667px;
        background: white;
        opacity: 0.1;
        position: absolute;
        border-radius: 50%;
        margin-left: calc(50% - 233.33333px);
        margin-top: calc(50% - 233.33333px);
        animation: bg-an-4 1.8s ease-in infinite;
        animation-delay: 0.2s;
    }

    @keyframes bg-an-4 {
        0% {
            width: 466.66667px;
            height: 466.66667px;
            margin-left: calc(50% - 233.33333px);
            margin-top: calc(50% - 233.33333px);
        }
        96% {
            width: 0px;
            height: 0px;
            margin-left: calc(50%);
            margin-top: calc(50%);
        }
        100% {
            width: 466.66667px;
            height: 466.66667px;
            margin-left: calc(50% - 233.33333px);
            margin-top: calc(50% - 233.33333px);
        }
    }

    .bg-circle:nth-child(5) {
        width: 533.33333px;
        height: 533.33333px;
        background: white;
        opacity: 0.125;
        position: absolute;
        border-radius: 50%;
        margin-left: calc(50% - 266.66667px);
        margin-top: calc(50% - 266.66667px);
        animation: bg-an-5 1.8s ease-in infinite;
        animation-delay: 0.25s;
    }

    @keyframes bg-an-5 {
        0% {
            width: 533.33333px;
            height: 533.33333px;
            margin-left: calc(50% - 266.66667px);
            margin-top: calc(50% - 266.66667px);
        }
        105% {
            width: 0px;
            height: 0px;
            margin-left: calc(50%);
            margin-top: calc(50%);
        }
        100% {
            width: 533.33333px;
            height: 533.33333px;
            margin-left: calc(50% - 266.66667px);
            margin-top: calc(50% - 266.66667px);
        }
    }

    .bg-circle:nth-child(6) {
        width: 600px;
        height: 600px;
        background: white;
        opacity: 0.15;
        position: absolute;
        border-radius: 50%;
        margin-left: calc(50% - 300px);
        margin-top: calc(50% - 300px);
        animation: bg-an-6 1.8s ease-in infinite;
        animation-delay: 0.3s;
    }

    @keyframes bg-an-6 {
        0% {
            width: 600px;
            height: 600px;
            margin-left: calc(50% - 300px);
            margin-top: calc(50% - 300px);
        }
        114% {
            width: 0px;
            height: 0px;
            margin-left: calc(50%);
            margin-top: calc(50%);
        }
        100% {
            width: 600px;
            height: 600px;
            margin-left: calc(50% - 300px);
            margin-top: calc(50% - 300px);
        }
    }

    .mid-circle {
        position: absolute;
        border-radius: 50%;
        width: 250px;
        transform: scale(1.3);
        height: 250px;
        background: white;
        margin-left: calc(50% - 250px / 2);
        margin-top: calc(50% - 250px / 2);
        animation: mid-a 1.8s ease-out infinite;
        animation-delay: 1.1s;
    }

    @keyframes mid-a {
        0% {
            transform: scale(1.3);
        }
        90% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1.3);
        }
    }

    .top-l {
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 50%;
        margin-left: -10px;
        margin-top: 0px;
    }

    .bot-r {
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 50%;
        margin-left: 110px;
        margin-top: -50px;
    }

    .dp {
        width: 220px;
        height: 220px;
        background: url("https://s3-us-west-2.amazonaws.com/images.hellogiggles.com/uploads/2016/01/27131600/darth-vader-figure.jpg");
        background-size: 260px;
        position: absolute;
        border-radius: 50%;
        margin-left: calc(50% - 220px / 2);
        margin-top: calc(50% - 220px / 2);
        overflow: hidden;
        animation: dp-a 1.8s ease-out infinite;
        animation-delay: 1.10s;
        transform: scale(1.4);
    }

    @keyframes dp-a {
        0% {
            transform: scale(1.4);
        }
        90% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1.4);
        }

    }

    #footer {
        position: fixed;
        bottom: 15%;
        width: 100%;
        color: #ffffff;
    }

    #center {
        width: 20%;
        margin: 0 auto;
    }

</style>
<div class='container'>
    <div class='bg-circle'></div>
    <div class='bg-circle'></div>
    <div class='bg-circle'></div>
    <div class='bg-circle'></div>
    <div class='mid-circle'>
        <div class='top-l'></div>
        <div class='bot-r'></div>
    </div>
    <div class='dp'></div>
</div>
<div id="footer">
    <div id="center">
        <h4>
            <% if (typeof data !== 'undefined') { %>
            <%= data %>
            <% } else { %>
            Aradığın sayfa yok :(
            <% } %>
        </h4>
    </div>
</div>
